@model IEnumerable<CasoPractico1_G2.Models.CursoModel>

@{
    ViewData["Title"] = "Cursos";
}
<h1>@ViewData["Title"]</h1>

<h1 class="text-center my-4">Listado de Cursos</h1>

<table class="table table-bordered tabla-modulos">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model)

        {
            <tr>
                <td>@curso.Cod_Curso</td>
                <td>@curso.Nombre</td>
                <td>@curso.Descripcion</td>
                <td style="text-align: center;">
                    <a asp-action="EditarCurso" asp-route-codCurso="@curso.Cod_Curso" class="btn btn-warning">Editar</a>
                    <form asp-action="EliminarCurso" method="post" style="display:inline;">
                        <input type="hidden" name="codCurso" value="@curso.Cod_Curso" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AgregarCurso", "Curso")" class="btn btn-success">Agregar Curso</a>