@model CasoPractico1_G2.Models.ProfesorModel

<h1>Editar Profesor</h1>

<form asp-action="EditarProfesor" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required />
    </div>

    <div class="form-group">
        <label for="Apellido">Apellido</label>
        <input type="text" class="form-control" id="Apellido" name="Apellido" value="@Model.Apellido" required />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
    </div>

    <div class="form-group">
        <label for="CursoId">Curso</label>
        <select class="form-control" id="CursoId" name="CursoId" required>
            @foreach (var curso in ViewBag.Cursos)
            {
                @if (Model.CursoId == curso.Cod_Curso)
                {
                    <option value="@curso.Cod_Curso" selected>@curso.Nombre</option>
                }
                else
                {
                    <option value="@curso.Cod_Curso">@curso.Nombre</option>
                }
            }
        </select>
    </div>
    <br>
    <br />

    <button type="submit" class="btn btn-success">Guardar</button>
</form>
