@{
    ViewData["Title"] = "Estudiantes";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<CasoPractico1_G2.Models.EstudianteModel>

<h1>Listado de Estudiantes</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>ID</th>
            <th>Curso Asignado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model)
        {
            <tr>
                <td>@estudiante.Nombre</td>
                <td>@estudiante.Apellido</td>
                <td>@estudiante.NumeroIdentificacion</td>
                <td>@estudiante.Curso?.Nombre ?? "No asignado"</td> <!-- Mostrar el nombre del curso o "No asignado" -->
            </tr>
        }
    </tbody>
</table>
