@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="tittle">Universidad Fidélitas</h1>
        <h3 id="title">Esta página web te permitirá gestionar entidades de la universidad Fidélitas. ¡Aprovechá ahora! </h3>
        <div class="d-flex justify-content-center">
            <img src="/imgs/UFidelitaslogo.png" width="1000px" class="img-fluid mt-2">
        </div>
    </section>
    <section class="row" aria-labelledby="aspnetTitle">
        <h3>Entidades a Gestionar</h3>
        <table class="table">
            <tr>
                <td>
                    <!-- Botón de Curso usando formulario -->
                    <form action="@Url.Action("Index", "Curso")" method="get">
                        <button type="submit" class="btn btn-primary btn-block">
                            Curso
                        </button>
                    </form>
                </td>
                <td>
                    <!-- Imagen que redirige al Index del controlador Curso -->
                    <a href="@Url.Action("Index", "Curso")">
                        <img src="/imgs/curso.png" width="400px" class="img-fluid mt-2">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Botón de Estudiante usando formulario -->
                    <form action="@Url.Action("Index", "Estudiante")" method="get">
                        <button type="submit" class="btn btn-primary btn-block">
                            Estudiante
                        </button>
                    </form>
                </td>
                <td>
                    <!-- Imagen que redirige al Index del controlador Estudiante -->
                    <a href="@Url.Action("Index", "Estudiante")">
                        <img src="/imgs/esdtudiante.webp" width="400px" class="img-fluid mt-2">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Botón de Profesor usando formulario -->
                    <form action="@Url.Action("Index", "Profesor")" method="get">
                        <button type="submit" class="btn btn-primary btn-block">
                            Profesor
                        </button>
                    </form>
                </td>
                <td>
                    <!-- Imagen que redirige al Index del controlador Profesor -->
                    <a href="@Url.Action("Index", "Profesor")">
                        <img src="/imgs/profesor.jpeg" width="400px" class="img-fluid mt-2">
                    </a>
                </td>
            </tr>
        </table>
    </section>
</main>

