@{
    ViewData["Title"] = "Profesor";
}
<h1>@ViewData["Title"]</h1>


@model IEnumerable<CasoPractico1_G2.Models.ProfesorModel>

<h1>Listado de Profesores</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Curso Asignado</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var profesor in Model)
        {
            <tr>
                <td>@profesor.Nombre</td>
                <td>@profesor.Apellido</td>
                <td>@profesor.Email</td>
                <td>@profesor.Curso?.Nombre ?? "No asignado"</td>
            </tr>
        }
    </tbody>
</table>
